<li class="list-group-item">
  <%= notification.item.user.email %> just commented:
  <%= link_to notification.item.commentable.title, notification.item.commentable, class: "underline font-medium" %>
</li>